{{!-- <div>
    <a href="/back">Back</a>
</div> --}}

{{!-- <div style="display: flex;">
    <img src="{{helper.avatar}}" alt="">
    <div>
        <h1>Basic information</h1>
        <ul>
            <li>{{helper.fullName}}</li>
            <li>{{helper.birthDate}}</li>
            <li>{{helper.gender}}</li>
            <li>{{helper.phone}}</li>
            <li>{{helper.birthPlace}}</li>
            <li>{{helper.address}}</li>
            <li>{{helper.height}}cm -- {{helper.weight}}kg</li>
            <li>
                Area: {{helper.workingArea.province}} :
                {{#each helper.workingArea.districts}}
                    {{this}}
                {{/each}}
            </li>
            <li>year of experience: {{helper.yearOfExperience}}</li>
        </ul>
        
    </div>
    
        
    
</div> --}}
{{!-- <div>
        <h2>Healthcare certificates</h2>
        <table>
            {{#each helper.healthCertificates}}
                <tr>
                    <th>
                        <img src="{{this}}" alt="">
                    </th>
                </tr>
            {{/each}}
          
        </table>
    </div> --}}
{{!-- Main container start --}}
<div class="main-container" style="padding-top:70px;padding-bottom:1000px">
    {{!-- aside start  --}}
    <div class="aside">
        <div class="aside__logo">
            <a href="#" class="aside__logo-link">
                <span>H</span>
                omeCare
            </a>
        </div>
        <div class="aside__nav-toggle">
            <span></span>
        </div>
        <ul class="aside__nav">
            <li class="aside__item">
                <a href="#home" class="aside__nav-active">
                    <i class="fa fa-home"></i>
                    TRANG CHỦ
                </a>
            </li>
            <li class="aside__item">
                <a href="#service-detail" >
                    <i class="fa fa-user"></i>THÔNG TIN
                </a>
            </li>
            <li class="aside__item">
                <a href="#hire-helper" >
                    <i class="fa-brands fa-hire-a-helper"></i>ĐẶT ĐƠN
                </a>
            </li>
            <li class="aside__item">
                <a href="/account" >
                    <i class="fa-solid fa-right-to-bracket"></i>ĐĂNG NHẬP
                </a>
            </li>
            <li class="aside__item">
                <a href="/account/register" >
                    <i class="fa-sharp fa-solid fa-user-plus"></i>
                    ĐĂNG KÍ
                </a>
            </li>
        </ul>
    </div>
    {{!-- aside end --}}
    {{!-- main content start --}}
    <div class="main-content">
        {{!-- home section start --}}
        <section class="home home-active section" id="home">
            <div class="home__container-2">
                <div class="home__row-2">
                    <div class="home__infor padd-15">
                        <h3 class="home__hello">
                            XIN CHÀO, TÔI TÊN LÀ <span class="home__hello-name">
                                {{helper.fullName}}
                            </span>
                        </h3>
                        <h3 class="home__my-profession">
                            TÔI LÀ <span class="home__my-profession-typing">NGƯỜI GIÚP VIỆC</span>
                        </h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro eveniet pariatur repellendus illo excepturi doloremque unde cupiditate consequatur ipsam tenetur, similique, qui odit nisi ducimus? Deleniti eum animi quaerat reiciendis.</p>
                        <a href="#service-detail" class="home-btn hire-me" data-section-index="0">XEM THÔNG TIN CHI TIẾT</a>
                    </div>
                <div class="home__img padd-15">
                    <img src="{{helper.avatar}}" alt="">
                </div>
                </div>
            </div>
        </section>
        {{!-- home section end --}}
        {{!-- about section start --}}
        <section class="about-detail section" id="service-detail">
            <div class="home__container-2">
                <div class="home__row-2">
                    <div class="section-title padd-15">
                        <h2>THÔNG TIN CHI TIẾT</h2>

                    </div>
                </div>
                <div class="home__row-2">
                    <div class="about-detail__content padd-15">
                        <div class="about-detail__text">
                        <h3 >TÔI TÊN LÀ {{helper.fullName}} VÀ <span>
                                NGƯỜI GIÚP VIỆC
                            </span>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae doloremque ullam voluptate, omnis harum ratione ea incidunt magni placeat in! Eius nam illum molestiae voluptates cum magnam laboriosam corporis?</p>

                        </div>
                    </div>
                </div>
                <div class="home__row-2">
                    <div class="about-detail__personal-infor padd-15">
                        <div class="home__row-2">
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Quận: <span>
                                {{#each helper.workingArea.districts}}
                                {{this}}
                                {{/each}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Tuổi: <span>22</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Ngày sinh nhật: <span>{{helper.birthDate}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Giới tính:<span>{{helper.gender}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Số điện thoại:<span>{{helper.phone}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Quê quán:<span>{{helper.birthPlace}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Tỉnh:<span>{{helper.workingArea.province}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Địa chỉ:<span>{{helper.address}}</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Chiều cao:<span>{{helper.height}} cm</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Chiều cao:<span>{{helper.weight}} kg</span></p>
                            </div>
                            <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                <p>Năm kim nghiệm:<span>{{helper.yearOfExperience}} năm</span></p>
                            </div>
                        </div>
                        <div class="home__row-2">
                            <div class="button padd-15">
                                <a href="#hire-helper" class="home-btn book-helper" data-section-index="1">THUÊ NGƯỜI NÀY</a>
                            </div>
                        </div>
                    </div>
                    <div class="about-detail__skills padd-15">
                       
                    </div>
                </div>
                <div class="home__row-2">
                    <div class="about-detail__tab-ui padd-15" style="padding-bottom:50px;">
                    <div class="tabs">
                        <div class="tab-item active">
                            <i class="tab-icon fas fa-code"></i>
                            ĐÁNH GIÁ CHUNG
                        </div>
                        <div class="tab-item">
                            <i class="tab-icon fas fa-cog"></i>
                            MÔ TẢ KINH NGHIỆM
                        </div>
                        <div class="tab-item">
                            <i class="tab-icon fas fa-plus-circle"></i>
                            THÔNG TIN CHI TIẾT
                        </div>
                        <div class="tab-item">
                            <i class="tab-icon fas fa-pen-nib"></i>
                            GIẤY KHÁM SỨC KHỎE
                        </div>
                        <div class="line"></div>
                    </div>
                    
                    <!-- Tab content -->
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <h2>React</h2>
                            <p>React makes it painless to create interactive UIs. Design simple views for each state in your application,
                                and React will efficiently update and render just the right components when your data changes.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio delectus accusantium assumenda ullam in molestiae alias? Maxime corporis explicabo vel voluptate earum hic amet ducimus expedita magni harum aperiam, provident pariatur itaque beatae atque. Nobis sed corrupti totam dolorem necessitatibus distinctio voluptate, doloribus quasi! Voluptatum voluptas molestias, rem quo obcaecati laboriosam libero eligendi quos fugit aliquam magni porro sunt nihil laudantium saepe in doloremque incidunt quam. Adipisci facilis minus ut autem? A illo voluptates vitae dolores cumque necessitatibus sed dolore molestias! Sequi quia porro quae amet modi, odio, incidunt iste nemo dolorem asperiores sit non. Aliquam provident explicabo totam, quam quibusdam, numquam assumenda earum vitae qui impedit amet. Illum quidem recusandae praesentium dignissimos velit nobis ducimus officiis, labore enim perspiciatis aperiam perferendis, impedit tempora officia fugiat, placeat quisquam magni maiores qui laudantium numquam sapiente facere doloribus. Voluptas dicta rerum reiciendis tempore voluptates, at voluptatum, assumenda possimus aliquid harum aperiam, sequi quam. Accusantium sapiente ipsa quia veniam placeat soluta enim facere earum ab labore ipsam blanditiis iste eum molestiae eius quam nostrum dicta possimus ad velit id, veritatis ut vel illum. Atque exercitationem necessitatibus error sequi magnam perspiciatis nobis quasi fugit, officiis nostrum rerum, culpa distinctio accusantium qui omnis sit incidunt, eius velit neque fugiat fuga? Sequi similique unde temporibus quisquam maxime voluptatum expedita molestiae, in accusamus doloribus praesentium sit exercitationem quam sed! Id, vero voluptate doloribus perspiciatis error dolore amet accusantium culpa excepturi optio temporibus! Quibusdam, ea ad. Laborum repellat distinctio, magni commodi enim eos provident quaerat quas. Ratione mollitia omnis autem. Iste quam corporis repellat eum. Cum ex autem omnis iusto hic sed, libero dolores laborum quasi quia consequatur aut animi veritatis nesciunt deserunt nam ipsa dolorem culpa doloremque. Voluptates officiis error eum velit necessitatibus ab quaerat, accusantium amet aut officia quos harum quo temporibus fuga at sunt ea?</p>
                        </div>
                        <div class="tab-pane">
                            <h2>Angular</h2>
                            <p>Angular is an application design framework and development platform for creating efficient and sophisticated
                                single-page apps.</p>
                        </div>
                        <div class="tab-pane">
                            <h2>Ember</h2>
                            <p>Ember.js is a productive, battle-tested JavaScript framework for building modern web applications. It
                                includes everything you need to build rich UIs that work on any device.</p>
                        </div>
                        <div class="tab-pane">
                            <h2>Vue.js</h2>
                            <p>Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other
                                monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        {{!-- about section end --}}
        {{!-- book section start --}}
        <section class="book-item section" id="hire-helper">
            <div class="home__container-2">
                <div class="home__row-2" style="margin-left:0px">
                    <div class="section-title padd-15">
                        <h2>THÔNG TIN YÊU CẦU</h2>
                    </div>
                </div>
                    <div class="home__row-2" style="margin-left:0px">
                        <div class="book-item__form">
                            <div class="home__row-2" style="margin-left:0px">
                                <form id="form-1" action="/account/sendotp" method="post" class="book-item__form-tel" style="inline-block">
                                    <div class="form__group form__group-tel padd-15" style="margin-top:0px">
                                        <div class="form__text-input form-control">
                                            <input id="tel-input" placeholder="Số điện thoại" type="tel" class="form__input" value="{{account}}"
                                                name="phone" minlength="10" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                            <p class="form__error form__error-tel"></p>
                                        </div>
                                        <button class="submit-btn btn btn--primary otp-btn">Nhận mã OTP </button>
                                        {{!-- <p class="form__error"></p> --}}
                                    </div>
                                </form>
                                <div class="book-item__form-otp">
                                    <div class="form__group" style="padding-left:76px; margin-top:0px">
                                        <div class="input-field">
                                            <input class="otp-input" type="number" />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home__row-2 padd-15" style"margin-left:15px">
                        <form id="form-2" action="" class="book-item__form-main padd-15">
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-name">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input id="full-name-input" placeholder="Full Name" type="text" class="form__input" value="{{account}}"
                                                name="name" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-address">
                                    <div class="form__group" style="padding-left:10px">
                                        <div class="form__text-input form-control">
                                            <input id="address-input" placeholder="Address" type="text" class="form__input" value="{{account}}"
                                                name="address" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-city">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input id="city-input" placeholder="Thành phố" type="text" class="form__input" value="{{account}}"
                                                name="city" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-district">
                                    <div class="form__group" style="padding-left:10px">
                                        <div class="form__text-input form-control">
                                            <input id="district-input" placeholder="Quận" type="text" class="form__input" value="{{account}}"
                                                name="district" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-date">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input id="myID" placeholder="Chọn ngày" type="text" class="form__input" value="{{account}}"
                                                name="name" required>
                                            {{!-- <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon"> --}}
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-time">
                                    <div class="home__row-2">
                                        <div class="book-item__form-time-start">
                                            <div class="form__group">
                                                <div class="form__text-input form-control">
                                                    <input id="myID1" placeholder="Giờ Bắt Đầu" type="text" class="form__input" value="{{account}}" name="name"
                                                        required>
                                                    {{!-- <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon"> --}}
                                                    <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                                </div>
                                                <p class="form__error"></p>
                                            </div>
                                        </div>
                                        <div class="book-item__form-time-end">
                                            <div class="form__group">
                                                <div class="form__text-input form-control">
                                                    <input id="myID1" placeholder="Giờ Kết Thúc" type="text" class="form__input" value="{{account}}" name="name"
                                                        required>
                                                    {{!-- <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon"> --}}
                                                    <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                                </div>
                                                <p class="form__error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15" style="margin-top:20px;font-size:2.4rem;font-weight:500;">
                                <h3 style="color:var(--text-black-700)">Dịch vụ</h3>
                            </div>
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-service">
                                    <div class="home__row-2 padd-15">
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check1">
                                            <label for="#check1" class="book-item__flex-50-text">Osin part time</label>
                                        </div>
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check2">
                                            <label for="#check2" class="book-item__flex-50-text">Dọn dẹp</label>
                                        </div>
                                    </div>
                                    <div class="home__row-2 padd-15">
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check3">
                                            <label for="#check3" class="book-item__flex-50-text">Osin part time</label>
                                        </div>
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check4">
                                            <label for="#check4" class="book-item__flex-50-text">Dọn dẹp</label>
                                        </div>
                                    </div>
                                    <div class="home__row-2 padd-15">
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check5">
                                            <label for="#check5" class="book-item__flex-50-text">Osin part time</label>
                                        </div>
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check6">
                                            <label for="#check6" class="book-item__flex-50-text">Dọn dẹp</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15" style="display: flex;
    justify-content: space-between;">
                                <div class="book-item__form-basic">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input id="full-name-input" placeholder="Phí Cơ bản" type="text" class="form__input" value="{{account}}"
                                                name="city" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-out">
                                    <div class="form__group" style="padding-left:10px">
                                        <div class="form__text-input form-control">
                                            <input id="full-name-input" placeholder="Phí Ngoài Giờ" type="text" class="form__input" value="{{account}}"
                                                name="district" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="home__row-2 padd-15" style="display: flex;
    justify-content: space-between;">
                                <div class="book-item__form-extra">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input id="full-name-input" placeholder="Phụ Phí" type="text" class="form__input" value="{{account}}"
                                                name="district" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-total">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input id="full-name-input" placeholder="Tổng Chí Phí" type="text" class="form__input" value="{{account}}"
                                                name="city" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15" style="padding-bottom:100px">
                                <div class="home__img padd-15" style="margin-top:60px">
                                    <img src="{{helper.avatar}}" alt="">
                                </div>
                                <div class="button padd-15" style="flex: 0 0 60%;
    max-width: 60%;
    display:inline-flex;
    align-items: start;
    justify-content: end;
    gap: 10px;
    margin-top:60px">
                                    <a href="#service-detail" class="home-btn book-helper book-helper__cancel" data-section-index="2" >HỦY</a>
                                    <a href="#book-item" class="home-btn book-helper" data-section-index="1">ĐỒNG Ý</a>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </section>
        {{!-- book section end --}}
    </div>
    {{!-- main content end --}}
</div>
{{!-- main contain end --}}
<script src="/js/app.js"></script>
<script>
    // điều mình mong muốn
    validator({
        form: "#form-1",
        errorElement: ".form__error",
        formGroupElement: ".form__group",
        rules: [
            validator.isRequire("#tel-input", "Bạn chưa nhập gì hết"),
            validator.isPhone("#tel-input", "vui lòng nhập đúng định dạng của số điện thoại"),
            //validator.isRequire("#password", "You haven't entered yet."),
            //validator.isMInPassword("#password", 6, "the password enter at least 6 characters"),
        ],
        onsubmit: function (data) {
            console.log(data);
        }
    })
     validator({
            form: "#form-2",
            errorElement: ".form__error",
            formGroupElement: ".form__group",
            rules: [
                validator.isRequire("#full-name-input", "Bạn chưa nhập gì hết"),
                validator.isRequire("#address-input","Bạn chưa nhập gì hết"),
                validator.isRequire("#city-input","Bạn chưa nhập gì hết"),
                validator.isRequire("#district-input","Bạn chưa nhập gì hết"),


                //validator.isRequire("#password", "You haven't entered yet."),
                //validator.isMInPassword("#password", 6, "the password enter at least 6 characters"),
            ],
            onsubmit: function (data) {
                console.log(data);
            }
        })
</script>
<script>
    window.dispatchEvent(new Event("template-loaded"));
</script>