<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Homecare
    </title>
    {{!-- font --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- link css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- script -->
    <script src="/js/scripts.js"></script>
    <link rel="shortcut icon" href="/icon/logo-removeBg.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/01acedffd5.js" crossorigin="anonymous"></script>
</head>

<body>
    {{!-- Main container start --}}
    <div class="main-container" style="padding-top:70px;padding-bottom:1000px">
        {{!-- aside start --}}
        <div class="aside">
            <div class="aside__logo">
                <a href="/">
                    <div class="logo">
                        <img src="/icon/logo-removeBg.png" alt="grocerymart" class="logo__img-helper logo __img-header">
                    </div>
                </a>
            </div>
            <div class="aside__nav-toggle">
                <span></span>
            </div>
            <ul class="aside__nav">
                <li class="aside__item">
                    <a href="#home" class="aside__nav-active">
                        <i class="fa fa-home"></i>Trang chủ
                    </a>
                </li>
                <li class="aside__item">
                    <a href="#service-detail">
                        <i class="fa fa-user"></i>Thông tin
                    </a>
                </li>
                <li class="aside__item">
                    <a href="#hire-helper">
                        <i class="fa-brands fa-hire-a-helper"></i>Đặt đơn
                    </a>
                </li>
                <li class="aside__item">
                    <a href="/account">
                        <i class="fa-solid fa-right-to-bracket"></i>Đăng nhập
                    </a>
                </li>
                <li class="aside__item">
                    <a href="/account/register">
                        <i class="fa-sharp fa-solid fa-user-plus"></i>Đăng kí
                    </a>
                </li>
            </ul>
        </div>
        {{!-- aside end --}}
        {{!-- main content start --}}
        <div class="main-content">
            {{!-- home section start --}}
            <section class="home home-active section" id="home">
                <div class="home__container-2">
                    <div class="home__row-2">
                        <div class="home__infor padd-15">
                            <h3 class="home__hello">
                                Xin chào, tôi tên là <span class="home__hello-name">
                                    {{helper.fullName}}
                                </span>
                            </h3>
                            <h3 class="home__my-profession">
                                Tôi là <span class="home__my-profession-typing">người giúp việc</span>
                            </h3>
                            <p class="home__infor-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
                                eveniet pariatur repellendus illo excepturi doloremque unde cupiditate consequatur ipsam
                                tenetur, similique, qui odit nisi ducimus? Deleniti eum animi quaerat reiciendis.</p>
                            <a href="#service-detail" class="home-btn hire-me" data-section-index="0">Xem thông tin chi tiết</a>
                        </div>
                        <div class="home__img padd-15">
                            <img src="{{helper.avatar}}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            {{!-- home section end --}}
            {{!-- about section start --}}
            <section class="about-detail section" id="service-detail">
                <div class="home__container-2">
                    <div class="home__row-2">
                        <div class="section-title padd-15">
                            <h2>Thông tin chi tiết</h2>
    
                        </div>
                    </div>
                    <div class="home__row-2">
                        <div class="about-detail__content padd-15">
                            <div class="about-detail__text">
                                <h3>Tôi tên là {{helper.fullName}} và <span>
                                        người giúp việc
                                    </span>
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae doloremque
                                    ullam voluptate, omnis harum ratione ea incidunt magni placeat in! Eius nam illum
                                    molestiae voluptates cum magnam laboriosam corporis?</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="home__row-2">
                        <div class="about-detail__personal-infor padd-15">
                            <div class="home__row-2">
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Quận: <span>
                                            {{#each helper.workingArea.districts}}
                                            {{this}}
                                            {{/each}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Tuổi: <span>22</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Ngày sinh nhật: <span>{{helper.birthDate}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Giới tính:<span>{{helper.gender}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Số điện thoại:<span>{{helper.phone}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Quê quán:<span>{{helper.birthPlace}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Tỉnh:<span>{{helper.workingArea.province}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Địa chỉ:<span>{{helper.address}}</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Chiều cao:<span>{{helper.height}} cm</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Chiều cao:<span>{{helper.weight}} kg</span></p>
                                </div>
                                <div class="about-detail__infor-item padd-15" style="padding-bottom:20px">
                                    <p>Năm kim nghiệm:<span>{{helper.yearOfExperience}} năm</span></p>
                                </div>
                            </div>
                            <div class="home__row-2">
                                <div class="button padd-15">
                                    <a href="#hire-helper" class="home-btn book-helper" data-section-index="1">Thuê người này</a>
                                </div>
                            </div>
                        </div>
                        <div class="about-detail__skills padd-15">
    
                        </div>
                    </div>
                    <div class="home__row-2">
                        <div class="about-detail__tab-ui padd-15" style="padding-bottom:50px;">
                            <div class="tabs">
                                <div class="tab-item active">
                                    <i class="tab-icon fas fa-code"></i>
                                    Đánh giá chung
                                </div>
                                <div class="tab-item">
                                    <i class="tab-icon fas fa-cog"></i>
                                    Mô tả kinh nghiệm
                                </div>
                                <div class="tab-item">
                                    <i class="tab-icon fas fa-plus-circle"></i>
                                    Thông tin chi tiết
                                </div>
                                <div class="tab-item">
                                    <i class="tab-icon fas fa-pen-nib"></i>
                                    Giấy khám sức khỏe
                                </div>
                                <div class="line"></div>
                            </div>
    
                            <!-- Tab content -->
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <h2>React</h2>
                                    <p>React makes it painless to create interactive UIs. Design simple views for each state
                                        in your application,
                                        and React will efficiently update and render just the right components when your
                                        data changes.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio delectus accusantium
                                        assumenda ullam in molestiae alias? Maxime corporis explicabo vel voluptate earum
                                        hic amet ducimus expedita magni harum aperiam, provident pariatur itaque beatae
                                        atque. Nobis sed corrupti totam dolorem necessitatibus distinctio voluptate,
                                        doloribus quasi! Voluptatum voluptas molestias, rem quo obcaecati laboriosam libero
                                        eligendi quos fugit aliquam magni porro sunt nihil laudantium saepe in doloremque
                                        incidunt quam. Adipisci facilis minus ut autem? A illo voluptates vitae dolores
                                        cumque necessitatibus sed dolore molestias! Sequi quia porro quae amet modi, odio,
                                        incidunt iste nemo dolorem asperiores sit non. Aliquam provident explicabo totam,
                                        quam quibusdam, numquam assumenda earum vitae qui impedit amet. Illum quidem
                                        recusandae praesentium dignissimos velit nobis ducimus officiis, labore enim
                                        perspiciatis aperiam perferendis, impedit tempora officia fugiat, placeat quisquam
                                        magni maiores qui laudantium numquam sapiente facere doloribus. Voluptas dicta rerum
                                        reiciendis tempore voluptates, at voluptatum, assumenda possimus aliquid harum
                                        aperiam, sequi quam. Accusantium sapiente ipsa quia veniam placeat soluta enim
                                        facere earum ab labore ipsam blanditiis iste eum molestiae eius quam nostrum dicta
                                        possimus ad velit id, veritatis ut vel illum. Atque exercitationem necessitatibus
                                        error sequi magnam perspiciatis nobis quasi fugit, officiis nostrum rerum, culpa
                                        distinctio accusantium qui omnis sit incidunt, eius velit neque fugiat fuga? Sequi
                                        similique unde temporibus quisquam maxime voluptatum expedita molestiae, in
                                        accusamus doloribus praesentium sit exercitationem quam sed! Id, vero voluptate
                                        doloribus perspiciatis error dolore amet accusantium culpa excepturi optio
                                        temporibus! Quibusdam, ea ad. Laborum repellat distinctio, magni commodi enim eos
                                        provident quaerat quas. Ratione mollitia omnis autem. Iste quam corporis repellat
                                        eum. Cum ex autem omnis iusto hic sed, libero dolores laborum quasi quia consequatur
                                        aut animi veritatis nesciunt deserunt nam ipsa dolorem culpa doloremque. Voluptates
                                        officiis error eum velit necessitatibus ab quaerat, accusantium amet aut officia
                                        quos harum quo temporibus fuga at sunt ea?</p>
                                </div>
                                <div class="tab-pane">
                                    <h2>Angular</h2>
                                    <p>Angular is an application design framework and development platform for creating
                                        efficient and sophisticated
                                        single-page apps.</p>
                                </div>
                                <div class="tab-pane">
                                    <h2>Ember</h2>
                                    <p>Ember.js is a productive, battle-tested JavaScript framework for building modern web
                                        applications. It
                                        includes everything you need to build rich UIs that work on any device.</p>
                                </div>
                                <div class="tab-pane">
                                    <h2>Vue.js</h2>
                                    <p>Vue (pronounced /vjuː/, like view) is a progressive framework for building user
                                        interfaces. Unlike other
                                        monolithic frameworks, Vue is designed from the ground up to be incrementally
                                        adoptable. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{!-- about section end --}}
            {{!-- book section start --}}
            <section class="book-item section" id="hire-helper">
                <div class="home__container-2">
                    <div class="home__row-2" style="margin-left:0px">
                        <div class="section-title padd-15">
                            <h2>Thông tin yêu cầu</h2>
                        </div>
                    </div>
                    <div class="home__row-2" style="margin-left:0px">
                        <div class="book-item__form">
                            <div class="home__row-2" style="margin-left:0px">
                                <form id="form-1" action="/account/sendotp" method="post" class="book-item__form-tel"
                                    style="inline-block">
                                    <div class="form__group form__group-tel padd-15" style="margin-top:0px">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="tel-input" placeholder="Số điện thoại" type="tel" class="form__input"
                                                value="{{account}}" name="phone" minlength="10" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                            <p class="form__error form__error-tel"></p>
                                        </div>
                                        <button class="submit-btn btn btn--primary otp-btn">Nhận mã OTP </button>
                                        {{!-- <p class="form__error"></p> --}}
                                    </div>
                                </form>
                                <div class="book-item__form-otp">
                                    <div class="form__group" style="padding-left:76px; margin-top:0px">
                                        <div class="input-field">
                                            <input class="otp-input" type="number" />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
                                            <input class="otp-input" type="number" disabled />
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home__row-2 padd-15" style"margin-left:15px">
                        <form id="form-2" action="" class="book-item__form-main padd-15">
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-name">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="full-name-input" placeholder="Full Name" type="text"
                                                class="form__input" value="{{account}}" name="name" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-address">
                                    <div class="form__group" style="padding-left:10px">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="address-input" placeholder="Address" type="text" class="form__input"
                                                value="{{account}}" name="address" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-city">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="city-input" placeholder="Thành phố" type="text" class="form__input"
                                                value="{{account}}" name="city" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-district">
                                    <div class="form__group" style="padding-left:10px">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="district-input" placeholder="Quận" type="text" class="form__input"
                                                value="{{account}}" name="district" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-date">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="myID" placeholder="Chọn ngày" type="text" class="form__input"
                                                value="{{account}}" name="name" required>
                                            {{!-- <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon"> --}}
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-time">
                                    <div class="home__row-2">
                                        <div class="book-item__form-time-start">
                                            <div class="form__group">
                                                <div class="form__text-input form-control">
                                                    <input style="font-size: 1.5rem;height:30px" id="myID1" placeholder="Giờ Bắt Đầu" type="text"
                                                        class="form__input" value="{{account}}" name="name" required>
                                                    {{!-- <img src="/icon/evelope.svg" alt="evelope"
                                                        class="form__input-icon"> --}}
                                                    <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                                </div>
                                                <p class="form__error"></p>
                                            </div>
                                        </div>
                                        <div class="book-item__form-time-end">
                                            <div class="form__group">
                                                <div class="form__text-input form-control">
                                                    <input style="font-size: 1.5rem;height:30px" id="myID1" placeholder="Giờ Kết Thúc" type="text"
                                                        class="form__input" value="{{account}}" name="name" required>
                                                    {{!-- <img src="/icon/evelope.svg" alt="evelope"
                                                        class="form__input-icon"> --}}
                                                    <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                                </div>
                                                <p class="form__error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15" style="margin-top:20px;font-size:2.4rem;font-weight:500;">
                                <h3 style="color:var(--text-black-700)">Dịch vụ</h3>
                            </div>
                            <div class="home__row-2 padd-15">
                                <div class="book-item__form-service">
                                    <div class="home__row-2 padd-15">
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check1">
                                            <label for="#check1" class="book-item__flex-50-text">Osin part time</label>
                                        </div>
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check2">
                                            <label for="#check2" class="book-item__flex-50-text">Dọn dẹp</label>
                                        </div>
                                    </div>
                                    <div class="home__row-2 padd-15">
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check3">
                                            <label for="#check3" class="book-item__flex-50-text">Osin part time</label>
                                        </div>
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check4">
                                            <label for="#check4" class="book-item__flex-50-text">Dọn dẹp</label>
                                        </div>
                                    </div>
                                    <div class="home__row-2 padd-15">
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check5">
                                            <label for="#check5" class="book-item__flex-50-text">Osin part time</label>
                                        </div>
                                        <div class="form__group book-item__flex-50">
                                            <input type="checkbox" id="check6">
                                            <label for="#check6" class="book-item__flex-50-text">Dọn dẹp</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15" style="display: flex;
        justify-content: space-between;">
                                <div class="book-item__form-basic">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="full-name-input" placeholder="Phí Cơ bản" type="text"
                                                class="form__input" value="{{account}}" name="city" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-out">
                                    <div class="form__group" style="padding-left:10px">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="full-name-input" placeholder="Phí Ngoài Giờ" type="text"
                                                class="form__input" value="{{account}}" name="district" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
    
                            </div>
                            <div class="home__row-2 padd-15" style="display: flex;
        justify-content: space-between;">
                                <div class="book-item__form-extra">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="full-name-input" placeholder="Phụ Phí" type="text"
                                                class="form__input" value="{{account}}" name="district" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                                <div class="book-item__form-total">
                                    <div class="form__group">
                                        <div class="form__text-input form-control">
                                            <input style="font-size: 1.5rem;height:30px" id="full-name-input" placeholder="Tổng Chí Phí" type="text"
                                                class="form__input" value="{{account}}" name="city" required>
                                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                                        </div>
                                        <p class="form__error"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="home__row-2 padd-15" style="padding-bottom:100px">
                                <div class="home__img padd-15" style="margin-top:60px">
                                    <img src="{{helper.avatar}}" alt="">
                                </div>
                                <div class="button padd-15" style="flex: 0 0 60%;
        max-width: 60%;
        display:inline-flex;
        align-items: start;
        justify-content: end;
        gap: 10px;
        margin-top:60px">
                                    <a href="#service-detail" class="home-btn book-helper book-helper__cancel"
                                        data-section-index="2">Hủy</a>
                                    <a href="#book-item" class="home-btn book-helper" data-section-index="1">Đồng ý</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            {{!-- book section end --}}
        </div>
        {{!-- main content end --}}
    </div>
    {{!-- main contain end --}}
    
    <script src="/js/app.js"></script>
    
    <script>
        // điều mình mong muốn
        validator({
            form: "#form-1",
            errorElement: ".form__error",
            formGroupElement: ".form__group",
            rules: [
                validator.isRequire("#tel-input", "Bạn chưa nhập gì hết"),
                validator.isPhone("#tel-input", "vui lòng nhập đúng định dạng của số điện thoại"),
                //validator.isRequire("#password", "You haven't entered yet."),
                //validator.isMInPassword("#password", 6, "the password enter at least 6 characters"),
            ],
            onsubmit: function (data) {
                console.log(data);
            }
        })
        validator({
            form: "#form-2",
            errorElement: ".form__error",
            formGroupElement: ".form__group",
            rules: [
                validator.isRequire("#full-name-input", "Bạn chưa nhập gì hết"),
                validator.isRequire("#address-input", "Bạn chưa nhập gì hết"),
                validator.isRequire("#city-input", "Bạn chưa nhập gì hết"),
                validator.isRequire("#district-input", "Bạn chưa nhập gì hết"),


                //validator.isRequire("#password", "You haven't entered yet."),
                //validator.isMInPassword("#password", 6, "the password enter at least 6 characters"),
            ],
            onsubmit: function (data) {
                console.log(data);
            }
        })
    </script>
    <script>
        window.dispatchEvent(new Event("template-loaded"));
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#myID1", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            conjunction: " :: ",
            minTime: "06:00",
            maxTime: "20:00",
        });
        flatpickr("#myID", {
            minDate: "today",
            mode: "multiple",
            dateFormat: "Y-m-d",
            conjunction: " :: "
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js"
        integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var typed = new Typed(".home__my-profession-typing", {
            strings: ["", "web Designer", "Web Developer", "Graphic Designer", "Youtube"],
            typeSpeed: 100,
            BackSpeed: 60,
            loop: true
        })
        //aside
        const nav = document.querySelector(".aside__nav"),
            navList = nav.querySelectorAll(".aside__item"),
            totalNavList = navList.length,
            allSection = document.querySelectorAll(".section"), totalSection = allSection.length;
        for (let i = 0; i < totalNavList; i++) {

            const a = navList[i].querySelector("a");
            a.addEventListener("click", function () {
                console.log(this);
                removeBackSection();
                for (let j = 0; j < totalNavList; j++) {
                    if (navList[j].querySelector("a").classList.contains("aside__nav-active")) {
                        addBackSection(j);
                        //allSection[j].classList.add("back-section");
                    }
                    navList[j].querySelector("a").classList.remove("aside__nav-active");
                }
                this.classList.add("aside__nav-active");
                showSection(this);
                if (window.innerWidth < 1200) {
                    asideSectionToggleBtn();
                }
            })
        }
        function addBackSection(num) {
            allSection[num].classList.add("back-section");
        }
        function removeBackSection() {
            for (let i = 0; i < totalSection; i++) {
                allSection[i].classList.remove("back-section");
            }
        }
        function showSection(element) {
            for (let i = 0; i < totalSection; i++) {
                allSection[i].classList.remove("home-active");
            }
            const target = element.getAttribute("href").split("#")[1];
            console.log(target);
            document.querySelector("#" + target).classList.add("home-active");

        }
        function updateNav(element) {
            console.log(element.getAttribute("href").split("#")[1]);
            for (let i = 0; i < totalSection; i++) {
                navList[i].querySelector("a").classList.remove("aside__nav-active");
                const target = element.getAttribute("href").split("#")[1];
                if (target === navList[i].querySelector("a").getAttribute("href").split("#")[1]) {
                    navList[i].querySelector("a").classList.add("aside__nav-active");
                }
            }


        }
        document.querySelector('.hire-me').addEventListener("click", function () {
            console.log(this);
            const sectionIndex = this.getAttribute("data-section-index");
            console.log(sectionIndex);
            showSection(this);
            updateNav(this);
            removeBackSection();
            addBackSection(sectionIndex);
        })
        document.querySelector('.book-helper').addEventListener("click", function () {
            console.log(this);
            const sectionIndex = this.getAttribute("data-section-index");
            console.log(sectionIndex);
            showSection(this);
            updateNav(this);
            removeBackSection();
            addBackSection(sectionIndex);
        })
        document.querySelector('.book-helper').addEventListener("click", function () {
            console.log(this);
            const sectionIndex = this.getAttribute("data-section-index");
            console.log(sectionIndex);
            showSection(this);
            updateNav(this);
            removeBackSection();
            addBackSection(sectionIndex);
        })
        document.querySelector('.book-helper__cancel').addEventListener("click", function () {
            console.log(this);
            const sectionIndex = this.getAttribute("data-section-index");
            console.log(sectionIndex);
            showSection(this);
            updateNav(this);
            removeBackSection();
            addBackSection(sectionIndex);
        })
        const navToggleBtn = document.querySelector('.aside__nav-toggle'), aside = document.querySelector(".aside");
        navToggleBtn.addEventListener("click", () => {
            asideSectionToggleBtn();
        })
        function asideSectionToggleBtn() {
            aside.classList.toggle("open");
            navToggleBtn.classList.toggle("open");
            for (let i = 0; i < totalSection; i++) {
                allSection[i].classList.toggle('open');
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper--slideshow", {
            slidesPerView: 1,
            slidesPerGroup: 1,
            centeredSlides: true,
            grabCursor: true,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                clickable: true,
            },
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "3",
            spaceBetween: 150,
            centeredSlides: true,
            grabCursor: true,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script>
        window.dispatchEvent(new Event("template-loaded"));
    </script>
</body>

</html>
