<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="font-size:3rem;color:white;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chính sách</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Hai bên đồng ý cung cấp và sử dụng dịch vụ theo các điều khoản sau:</h3>
                    {{#each policies}}
                        <h3 class="header-title">{{@index}}. {{title}}</h3>
                        <div class="header-para">
                            {{#each contents}}
                                <p>{{this}}</p>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #478e3a;">Thoát</button>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div>
            </div>
        </div>
    </div>
    <header class="header__slideshow">
        <div class="wrapper">
            <div class="header-slideshow header-slideshow__row">
                <div class="header-logo">
                    <a href="#">
                        <img src="/icon/logo-text ngang.png" alt="logo" class="header-logo__img">
                    </a>
                </div>
                <!-- Thêm nút hamburger menu -->
                <div class="mobile-menu-btn">
                <button class="short-helper__btn js-toggle" toggle-target="#mobile-menu"
                    style="width:30px; height:30px;">
                    <i class="fa-solid fa-bars"></i>
                </button>
                </div>             
                <!-- Thêm class mobile-menu để điều khiển hiển thị-->
                <div class="aside-detail__longterm hide" id="mobile-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__item"><a href="#">
                        <img src="/icon/logo-removeBg.png" alt="logo" class="header-logo__img">
                        </a></li>
                        <li class="header-menu__item"><a href="#introduce">Giới thiệu</a></li>
                        <li class="header-menu__item"><a href="#service">Dịch vụ</a></li>
                        <li class="header-menu__item"><a href="#helper">Người giúp việc</a></li>
                        <li class="header-menu__item"><a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Bảng giá</a></li>
                        <li class="header-menu__item"><a href="#faq">Hỏi đáp</a></li>
                        <li class="header-menu__item"><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Chính sách</a></li>
                        <li class="header-menu__item"><a href="#contact">Liên hệ</a></li>
                        <li class="header-menu__item"><a href="/blog" target="_blank">Blog</a></li>
                        {{#if user}}
                        <li class="header-menu__item"><a href="/account/detailed">{{user.fullName}}</a></li>
                        {{else}}
                        <li class="header-menu__item"><a href="/account">Đăng nhập</a></li>
                        <li class="header-menu__item"><a href="/account/register">Đăng kí</a></li>
                        {{/if}}
                    
                    </ul>
                </div>
                <div class="header-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__item"><a href="#introduce">Giới thiệu</a></li>
                        <li class="header-menu__item"><a href="#service">Dịch vụ</a></li>
                        <li class="header-menu__item"><a href="#helper">Người giúp việc</a></li>
                        <li class="header-menu__item"><a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Bảng giá</a></li>
                        <li class="header-menu__item"><a href="#faq">Hỏi đáp</a></li>
                        <li class="header-menu__item"><a href="#"  data-toggle="modal" data-target="#exampleModalCenter">Chính sách</a></li>
                        <li class="header-menu__item"><a href="#contact">Liên hệ</a></li>
                        <li class="header-menu__item"><a href="/blog" target="_blank">Blog</a></li>
                        {{#if user}}
                            <li class="header-menu__item">
                                <a href="/account/detailed">{{user.fullName}}</a>
                            </li>
                        {{else}}
                        <li class="header-menu__item"><a href="/account">Đăng nhập</a></li>
                        <li class="header-menu__item"><a href="/account/register">Đăng kí</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="font-size:3rem;color:white;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Bảng Giá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <h1 style="margin-bottom: 10px;">Bảng giá cho một người giúp việc</h1>
                
                <table class="price-table">
                    <tr>
                        <th>Dịch vụ</th>
                        <th>Phí cơ bản(VNĐ/Giờ)</th>
                        <th>Phụ phí</th>
                        <th>Hệ số dịch vụ</th>
                    </tr>
                    {{#each services}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{basicPrice}} VND</td>
                        <td>Không</td>
                        <td>{{coefficient}}</td>
                    </tr>
                    {{/each}}
                </table>
                
                <div class="notes">
                    <h2 style="font-weight: 700px;">Ghi Chú</h2>
                    <ul>
                        <li><p style="text-align: justify;">
                            Phụ phí: là phí tính cho những dịch vụ mà khách hàng có những yêu cầu thêm nhưng chưa được xác định trước.
                                Phụ phí này sẽ được nhân viên công ty tư vấn cho quý khách hàng ứng với từng trường hợp cụ thể.
                        </p></li>
                        <li>Phí ngoài giờ: là % phí cơ bản, tính cho những dịch vụ mà khách hàng yêu cầu được phục vụ ngoài khung giờ
                            chuẩn. Khung giờ chuẩn của công ty là từ 8 giờ sáng đến 6 giờ chiều.</li>
                    </ul>
                
                    <h2 style="font-weight: 700px;">Chính sách đặc biệt về giá</h2>
                    <ul>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn từ 7 đến 15 ngày, quý khách hàng được giảm giá 5% tổng
                            chi phí cho cả đơn hàng.</li>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn hơn 15 ngày, quý khách hàng được giảm giá 10% tổng chi
                            phí cho cả đơn hàng.</li>
                    </ul>
                </div>
                <div class="notes">
                    <h2 style="font-weight: 700px;">Chính sách đặc biệt về giá</h2>
                    <ul>
                        <li>Phụ phí: là phí tính cho những dịch vụ mà khách hàng có những yêu cầu thêm nhưng chưa được xác định trước.
                            Phụ phí này sẽ được nhân viên công ty tư vấn cho quý khách hàng ứng với từng trường hợp cụ thể.</li>
                        <li>Phí ngoài giờ: là % phí cơ bản, tính cho những dịch vụ mà khách hàng yêu cầu được phục vụ ngoài khung giờ
                            chuẩn. Khung giờ chuẩn của công ty là từ 8 giờ sáng đến 6 giờ chiều.</li>
                    </ul>
                
                    <h2 style="font-weight: 700px;">Chính sách đặc biệt về giá</h2>
                    <ul>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn từ 7 đến 15 ngày, quý khách hàng được giảm giá 5% tổng chi phí cho cả
                        đơn hàng.</li>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn hơn 15 ngày, quý khách hàng được giảm giá 10% tổng chi phí cho cả đơn
                        hàng.</li>
                        <li>Ngoài ra, công ty còn có những mã khuyến mãi sẽ được gửi trực tiếp đến quý khách hàng cho những dịp đặc biệt và/hoặc
                        những khách hàng thân thiết.</li>
                    </ul>
                </div>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        style="background-color: #478e3a;">Thoát</button>
                    
                </div>
            </div>
        </div>
    </div>
