{{!-- <style>
    .helper-list{
        display: flex;
    }
    .selected{
        background-color: greenyellow;
    }
    .hide{
        display: none;
    }

</style> --}}
{{!-- <form method="post" action="/long-term/submit">
    <ul>
        <li><input type="hidden" name="requestType" value="Dài hạn">Hình thức: Dài hạn</li>
        <li><input type="hidden" name="startDate" value="{{order.startDate}}"> {{order.startDate}}</li>
        <li><input type="hidden" name="endDate" value="{{order.endDate}}">{{order.endDate}}</li>
        <li><input type="hidden" name="province" value="{{order.province}}">{{order.province}}</li>
        <li><input type="hidden" name="district" value="{{order.district}}">{{order.district}}</li>
        <li><input type="hidden" name="service" value="{{order.service}}">Services: {{order.service}}</li>
        <li>
            <input type="hidden" name="startTime" value="{{order.startTime}}">
            <input type="hidden" name="endTime" value="{{order.endTime}}">
            Time:{{order.startTime}} to {{order.endTime}}
        </li>
    </ul>
    <h2>Choose helper (skip to random)</h2>
    <div class="helper-list" >
        <input type="hidden" name="helper" value="">
        {{#each helpers}}
            <div class="basic-helper"  style="text-align:center;border:5px; border-style:solid;  border-color:green";>
                <img src="{{this.avatar}}" alt="{{this._id}}">
                <h3 >{{this.fullName}}</h3>
                <p>{{this.yearOfExperience}} years of exprerience</p>
            </div>
        {{/each}}
    </div>

    

    <button >Submit</button>
</form> --}}


<script>
    let helperElements=document.querySelectorAll('div.basic-helper')
    let numHelperInput= document.querySelector('#num-helper-input')
    let submitBtn= document.querySelector('form button')
    let helperlist=document.querySelector('.helper-list')
    var selectedHelper='';


    helperElements.forEach(function(div){
        div.onclick=function(){
            if(div.classList.contains('selected')){
                div.classList.remove('selected');
                selectedHelper=''
            }
            else {
                if(selectedHelper==''){
                    div.classList.add('selected')
                    let id= div.querySelector('img').alt;
                    selectedHelper=id;
                }
            }
        }
    })

    submitBtn.onclick=function(){
        let input= helperlist.querySelector('input');
        input.value=selectedHelper;
    }
</script>