<style>
    form{
        display:flow-root;
    }
    .hide{
        display: none;
    }
</style>

<h1>Đặt lại mật khẩu</h1>

<label style="color: red;">{{err}}</label>
{{!-- form to get otp --}}
<form action="/account/sendotp" method="post">
    {{#if phone}}
        <label >Số điện thoại: </label>
        <input type="hidden" name="phone" value="{{phone}}">
        {{phone}}
        <button class="otp-btn" >Nhận mã OTP </button>
    {{else}}
        <label >Nhập số điện thoại</label>
        <input type="text" name="phone" class = "phone-input">
        <button disabled class="otp-btn">Nhận mã OTP </button>
    {{/if}}
    
</form>

{{!-- form for changing password --}}
<form action="/account/changepassword" method="post" class="form-change" >
    {{#if phone}}
        <input type="hidden" name="phone" value="{{phone}}">
    {{else}}
        <input type="hidden" name="phone" value="">
    {{/if}}
    <label > Nhập mã OTP </label>
    <input type="text" name="otp">
    <label > Nhập mật khẩu mới </label>
    <input type="text" name="password">
    <label > Xác nhận lại mật khẩu</label>
    <input type="text" name="confirm">
    <button>Thay đổi</button>
</form>

<script>
    const phoneInput = document.querySelector('.phone-input')
    const formChange = document.querySelector('.form-change')
    const submitBtn = document.querySelector('.otp-btn')
    if(phoneInput){
        phoneInput.onchange= function(){
            if(phoneInput.value.length==10){
                submitBtn.disabled=false;
                let phoneInput2=formChange.querySelector('input[type="hidden"]')
                console.log(phoneInput2)
                phoneInput2.value=phoneInput.value;
            }
            else{
                submitBtn.disabled=true;
            }
        }
    }
    function waitForNextSend(){
        setTimeout(()=>{
            if(phoneInput.value.length==10){
                submitBtn.disabled=false;
            }
        },5000)
    }
    submitBtn.onclick=function(){
        formChange.classList.remove('hide')
        submitBtn.disabled=true;
        waitForNextSend()
    }
</script>