<style>
    form{
        display:flow-root;
    }
    .hide{
        display: none;
    }
</style>

<h1>Đặt lại mật khẩu</h1>

<label style="color: red;">{{err}}</label>
{{!-- form to get otp --}}
<form  class="otp-form">
    {{#if phone}}
        <label >Số điện thoại: </label>
        <input type="hidden" name="phone" value="{{phone}}" class ="phone-input">
        <label>{{phone}}</label>
    {{else}}
        <label >Nhập số điện thoại</label>
        <input type="text" name="phone" class = "phone-input">
    {{/if}}
    <button  type="submit" class="otp-btn">Nhận mã OTP </button>
</form>

{{!-- form for changing password --}}
<form action="/account/changepassword" method="POST" class="form-change" >
    {{#if phone}}
        <input type="hidden" name="phone" value="{{phone}}">
    {{else}}
        <input type="hidden" name="phone" value="">
    {{/if}}
    <label > Nhập mã OTP </label>
    <input type="text" name="otp">
    <label > Nhập mật khẩu mới </label>
    <input type="text" name="password">
    <label > Xác nhận lại mật khẩu</label>
    <input type="text" name="confirm">
    <button>Thay đổi</button>
</form>

<script>
    const phoneInput = document.querySelector('.phone-input')
    const formChange = document.querySelector('.form-change')
    const otpForm = document.querySelector('.otp-form')
    const submitBtn =document.querySelector('.otp-btn')
        phoneInput.onchange= function(){
            if(phoneInput.value.length==10){
                submitBtn.disabled=false;
                let phoneInput2=formChange.querySelector('input[type="hidden"]')
                phoneInput2.value=phoneInput.value;
            }
            else{
                submitBtn.disabled=true;
            }
        }

    function waitForNextSend(){
        setTimeout(()=>{
            if(phoneInput.value.length==10){
                submitBtn.disabled=false;
            }
        },3000)
    }

    otpForm.onsubmit=function(e){
        e.preventDefault()
        let option = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({phone:phoneInput.value})
        }
        fetch('/account/sendotp',option)
        .then(()=>{})
        .catch(err=>{
            console.error(err)
        })
        submitBtn.disabled=true;
        waitForNextSend()
    }
</script>