{{!-- <style>
    form{
        display:flow-root;
    }
    .hide{
        display: none;
    }
</style> --}}

{{!-- <h1>Đặt lại mật khẩu</h1> --}}

{{!-- <label style="color: red;">{{err}}</label> --}}
{{!-- form to get otp --}}
{{!-- <form action="/account/sendotp" method="post">
    {{#if phone}}
        <label >Số điện thoại: </label>
        <input type="hidden" name="phone" value="{{phone}}">
        {{phone}}
        <button class="otp-btn" >Nhận mã OTP </button>
    {{else}}
        <label >Nhập số điện thoại</label>
        <input type="text" name="phone" class = "phone-input">
        <button disabled class="otp-btn">Nhận mã OTP </button>
    {{/if}}
    
</form> --}}

{{!-- form for changing password --}}
{{!-- <form action="/account/changepassword" method="post" class="form-change" >
    {{#if phone}}
        <input type="hidden" name="phone" value="{{phone}}">
    {{else}}
        <input type="hidden" name="phone" value="">
    {{/if}}
    <label > Nhập mã OTP </label>
    <input type="text" name="otp">
    <label > Nhập mật khẩu mới </label>
    <input type="text" name="password">
    <label > Xác nhận lại mật khẩu</label>
    <input type="text" name="confirm">
    <button>Thay đổi</button>
</form> --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project 8</title>
    <!-- link css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- script -->
    <script src="/js/scripts.js"></script>
</head>

<body>
    <main class="auth">
        <div class="auth__intro">
            <!-- logo -->
            <a href="./">
                <div class="logo auth__logo">
                    <img src="/icon/logo-removeBg.png" alt="Homecare" class="logo__img">
                    {{!-- <h1 class="logo__title">Homecare</h1> --}}
                </div>
            </a>
            <img src="/icon/logo-removeBg.png" alt="sign-up" class="auth__intro-img">
            <button class="auth-btn js-toggle" toggle-target="#btn-content">
                <img src="/icon/the-next-page.svg" alt="the next page" class="auth__icon-the-next-page">
            </button>
        </div>
        <div id="btn-content" class="auth__content hide">
            <div class="auth__content-inner">
                <!-- logo -->
                <a href="./">
                    <div class="logo">
                        <img src="/icon/logo-removeBg.png" alt="grocerymart" class="logo__img logo__img--large">
                        {{!-- <h1 class="logo__title">Homecare</h1> --}}
                    </div>
                </a>
                <h2 class="auth__heading">Đặt lại mật khẩu cho bạn</h2>
                <p class="auth__desc">Bạn vui lòng nhập số điện thoại và mã OTP đã được gửi đến số điện thoại của bạn</p>
                <form action="/account/sendotp" method="post">
                    <div class="form__group form__group-tel">
                        <div class="form__text-input form-control">
                            <input id="tel-input" placeholder="Số điện thoại" type="tel" class="form__input" value="{{account}}"
                                name="phone" minlength="10" required>
                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                            <p class="form__error form__error-tel"></p>
                        </div>
                        <button class="submit-btn btn btn--primary otp-btn">Nhận mã OTP </button>
                        {{!-- <p class="form__error"></p> --}}
                    </div>
                </form>
                <form id="form-1" method="post" action="/account/register" class="form auth__form">
                   
                    {{!-- //input 2 --}}
                    <div class="form__group">
                        <div class="input-field">
                            <input class="otp-input" type="number" />
                            <input class="otp-input" type="number" disabled />
                            <input class="otp-input" type="number" disabled />
                            <input class="otp-input" type="number" disabled />
                            <input class="otp-input" type="number" disabled />
                            <input class="otp-input" type="number" disabled />

                        </div>
                    </div>
                    <div class="form__group form__group-btn form__submit-btn">
                        <button class="submit-btn btn btn--primary">Đặt lại mật khẩu</button>
                    </div>
                </form>
                <p class="auth__text">
                    <a href="/account" class="auth__link">Quay trở lại trang đăng nhập</a>
                </p>
            </div>
        </div>
    </main>
    <script src="/js/app.js"></script>
    <script>
        // điều mình mong muốn
        validator({
            form: "#form-1",
            errorElement: ".form__error",
            formGroupElement: ".form__group",
            rules: [
                validator.isRequire("#tel-input", "You haven't entered yet."),
                validator.isPhone("#tel-input", "Please enter the phone number in the correct format"),
                validator.isRequire("#otp-input", "You haven't entered yet."),
                validator.isPhone("#otp-input", "Please enter the phone number in the correct format"),
                validator.isRequire("#password", "You haven't entered yet."),
                validator.isMInPassword("#password", 6, "the password enter at least 6 characters"),
                validator.isRequire("#password_confirmation", "bạn vẫn chưa nhập!"),
                validator.isConfirmationPassword("#password_confirmation", function getPassword() {
                    var element = validator.form
                    var password = document.querySelector("#password").value;
                    console.log(password);
                    return password;
                }, "Your password is incorrect!")
            ],
            onsubmit: function (data) {
                console.log(data);
            }
        })
    </script>
    <script>
        window.dispatchEvent(new Event("template-loaded"));
    </script>
    <script>
        const formRegister = document.querySelector('form')
        const submitBtn = formRegister.querySelector('.submit-btn');
        const emailInput = document.querySelector('#email-input');
        const passWordInput = document.querySelector('#password-input');
        const confirmPasswordInput = document.querySelector('#confirm-password-input');
    </script>
</body>

</html>

<script>
    const phoneInput = document.querySelector('#tel-input')
    const formChange = document.querySelector('.form-change')
    const submitBtn = document.querySelector('.otp-btn')
    if(phoneInput){
        phoneInput.onchange= function(){
            if(phoneInput.value.length==10){
                submitBtn.disabled=false;
                let phoneInput2=formChange.querySelector('input[type="tel"]')
                console.log(phoneInput2)
                phoneInput2.value=phoneInput.value;
            }
            else{
                submitBtn.disabled=true;
            }
        }
    }
    function waitForNextSend(){
        setTimeout(()=>{
            if(phoneInput.value.length==10){
                submitBtn.disabled=false;
            }
        },5000)
    }
    submitBtn.onclick=function(){
        formChange.classList.remove('hide')
        submitBtn.disabled=true;
        waitForNextSend()
    }
</script>