<style>
    div{
        padding: 20px;
    }
</style>

<h1>Thông tin tài khoản</h1>

<div>
    <h2>thông tin cơ bản</h2>
    <ul>
        <li>Tên: {{user.fullName}}</li>
        <li>SĐT: {{user.phone}}</li>
    </ul>
</div>

<a href="/account/changepassword"> đổi mật khẩu</a>

<div>
    <h2>lịch sử đơn hàng</h2>
    {{#if requests}}
    <ul>
        {{#each requests}}
        <li>
            <p>{{this.orderDate}}</p>
            <p>{{this.requestType}}</p> 
            <p>{{this.status}}</p>
        </li>
        {{/each}}
    </ul>

    {{else}}

    <p>Bạn chưa đặt đơn hàng nào!</p>
    {{/if}}
    
</div>