<div style="display: block;">
    {{#if customer}}
        <h4>
            Check your information
        </h4>
    {{else}}
        <h5>
            Fill your information
        </h5>
    {{/if}}
    
    <input type="phone" name="phone" id="phone-input" value="{{customer.phone}}">

    <input type="text" name="customerName" id="name-input" value="{{customer.name}}">

    <input type="text" name="customerAddress" id="address-input" value="{{customer.address}}">
</div>



<form method="post" action="/request">

    <ul>
        <li><input type="hidden" name="requestType" value="{{request.type}}">{{request.type}}</li>
        <li><input type="hidden" name="startDate" value="{{request.startDate}}">{{request.startDate}}</li>
        {{#if request.endDate}}
            <li><input type="hidden" name="endDate" value="{{request.endDate}}">{{request.endDate}}</li>
        {{else}}
            <input type="hidden" name="endDate" value="{{request.startDate}}">
        {{/if}}
        <input type="hidden" name="customerInfo" id="customerInfo">
        <li><input type="hidden" name="fee" value="{{request.fee}}">{{request.fee}}</li>
        <li><input type="hidden" name="service_id" value="{{service._id}}">{{service.title}}</li>
        <li><input type="hidden" name="province" value="{{request.province}}">{{request.province}}</li>
        <li><input type="hidden" name="district" value="{{request.district}}">{{request.district}}</li>
        <li><input type="hidden" name="startTime" value="{{request.startTime}}">{{request.startTime}}</li>
        <li><input type="hidden" name="endTime" value="{{request.endTime}}">{{request.endTime}}</li>
        <li><input type="hidden" name="helperId" value="{{helper._id}}">{{helper.fullName}}</li>

    </ul>
    <button>Send request</button>
</form>

<script>
    const submitBtn = document.querySelector('button');
    const customerInfo =document.querySelector('#customerInfo')
    const nameInput=document.querySelector('#name-input');
    const phoneInput=document.querySelector('#phone-input');
    const addressInput=document.querySelector('#address-input');


    submitBtn.onclick=function(){
        customerInfo.value=JSON.stringify({
            fullName:nameInput.value,
            phone:phoneInput.value,
            address: addressInput.value
        })
    }
</script>