<style>
    form{
        display: flex;
    }
    .hide{
        display: none;
    }
    table{
        border-style: solid;
        box-sizing: 10px;
        text-align: center ;
    }
</style>
<div>

    <h2>DASHBOARD</h2>
    <button id="short-term-btn" >Short Term Order</button>
    <button id="long-term-btn">Long Term Order</button>
    
    {{!-- short term order form --}}
    <form id="short-term-form" method='post'action="/short-term">
        <select name="province" class="province" >
            <option value="" disabled selected>--Choose province--</option>
            {{#each locations}}
                <option value="{{this.province}}">{{this.province}}</option>
            {{/each}}
        </select>
        <select name="district" class="district">
            <option value="" disabled selected>--Choose district--</option>
        </select>
        <label for="">Service</label>
        <select name="service" class="service">
            <option disabled selected>--Choose services--</option>
            {{#each services}}
                <option>{{this.title}}</option>
            {{/each}}
        </select>
        <label for="date">Date</label>
        <input type="date" id="date" name="startDate">
        <label for="time">Select start time:</label>
        <input type="time" id="start-time" name="startTime" >
        <label for="time">Select end time:</label>
        <input type="time" id="end-time" name="endTime" >
        <button class="submit-btn" disabled>Find</button>
    </form>
    {{!-- long term order form --}}
    <form id="long-term-form" class="hide" method="post" action="/long-term" >
        
        <select name="province" class="province" >
            <option value="" disabled selected>--Choose province--</option>
            {{#each locations}}
                <option value="{{this.province}}">{{this.province}}</option>
            {{/each}}
        </select>
        <select name="district" class="district">
            <option value="" disabled selected>--Choose district--</option>
        </select>
        <label for="">Service</label>
        <select name="service" class="service">
            <option disabled selected>--Choose services--</option>
            {{#each services}}
                <option>{{this.title}}</option>
            {{/each}}
        </select>
        
        
        <label for="date">from:</label>
        <input type="date" id="start-date" name="startDate">
        <label for="date">to:</label>
        <input type="date" id="end-date" name="endDate">
        <label for="time">Select start time:</label>
        <input class="long-term" type="time" id="start-time" name="startTime" >
        <label for="time">Select end time:</label>
        <input class="long-term" type="time" id="end-time" name="endTime" >
        <button class="submit-btn" disabled>Find</button>
    </form>
    {{!-- price list --}}
    <h3>Services</h3>
    <div class="price-list">
        <table>
            <thead>
                <th scope="col" style="width:20%">Service</th>
                <th scope="col" style="width:20%">Description</th>
                <th scope="col" style="width:20%">Extra Fee</th>
                <th scope="col" style="width:20%">Basic Price</th>
            </thead>
            <tbody>
                {{#each services}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{{this.description}}}</td>  
                    <td>{{this.extraFee}}</td>  
                    <td>{{this.basicPrice}}</td>
                </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>
    {{!-- show list of helpers --}}
    <h2>Helper List</h2>
    <div class="helper-list" style="display: flex;">
        {{#each helpers}}
            <div class="basic-helper" style="text-align: center;border:5px; border-style:solid; margin:10px">
                <a href="/helper/{{this._id}}"><img src="{{this.avatar}}" ></a>
                <h3 >{{this.fullName}}</h3>
                <p>{{this.yearOfExperience}} years of exprerience</p>
            </div>
        {{/each}}
    </div>
</div>
<script>
    const shortTerm= document.getElementById('short-term-form')    
    const longTerm= document.getElementById('long-term-form')

    const shortTermBtn= document.getElementById('short-term-btn')
    const longTermBtn= document.getElementById('long-term-btn')

    shortTerm.onchange=function(){
        let date=shortTerm.querySelector('#date')
        let starttime=shortTerm.querySelector('#start-time')
        let endtime=shortTerm.querySelector('#end-time')
        let submitBtn=shortTerm.querySelector('button')

        if(date.value!='' && starttime.value!='' && endtime.value!=''){
           submitBtn.disabled=false;
        }
        else {
            submitBtn.disabled=true;
        }
    }
    longTerm.onchange=function(){
        let startdate=longTerm.querySelector('#start-date')
        let enddate=longTerm.querySelector('#end-date')
        let starttime=longTerm.querySelector('#start-time')
        let endtime=longTerm.querySelector('#end-time')
        let submitBtn=longTerm.querySelector('button')
        console.log(starttime.value,)
        if(enddate.value!=''&&startdate.value!='' && starttime.value!='' && endtime.value!=''){
           submitBtn.disabled=false;
        }
        else {
            submitBtn.disabled=true;
        }
    }
    provinceSelect = shortTerm.querySelector('.province')
    districtSelect = shortTerm.querySelector('.district');
    provinceSelect.onchange=function(){
        let locations={{{json locations}}};
        let val= provinceSelect.value;
        let index=0;
        for(key in locations) {
            if (locations[key].province == val) {
                index = parseInt(key);
            }
        }


        districtSelect.innerHTML=`<option value="" disabled selected>--Choose district--</option>`;
        locations[index].districts.forEach(function(value){
            districtSelect.innerHTML+=`<option value="${value.district}">${value.district}</option>`
        })
    }
    
    shortTermBtn.onclick=function(){
        shortTerm.className='';
        longTerm.className='hide'
        provinceSelect = shortTerm.querySelector('.province')
        districtSelect = shortTerm.querySelector('.district');
        provinceSelect.onchange=function(){
        let locations={{{json locations}}};
        let val= provinceSelect.value;
        let index=0;
        for(key in locations) {
            if (locations[key].province == val) {
                index = parseInt(key);
            }
        }
        districtSelect.innerHTML=`<option value="" disabled selected>--Choose district--</option>`;
        locations[index].districts.forEach(function(value){
            districtSelect.innerHTML+=`<option value="${value.district}">${value.district}</option>`
        })
    }

    }
    longTermBtn.onclick=function(){
        longTerm.className=''
        shortTerm.className='hide'
        provinceSelect = longTerm.querySelector('.province')
        districtSelect = longTerm.querySelector('.district');
        provinceSelect.onchange=function(){
            let locations={{{json locations}}};
            let val= provinceSelect.value;
            let index=0;
            for(key in locations) {
                if (locations[key].province == val) {
                    index = parseInt(key);
                }
            }
            districtSelect.innerHTML=`<option value="">--Choose district--</option>`;
            locations[index].districts.forEach(function(value){
                districtSelect.innerHTML+=`<option value="${value.district}">${value.district}</option>`
            })
        }

    }

    

</script>