<style>
    .selected{
        background-color: greenyellow;
    }
    .helper-list{
        display: flex;
    }
    .hide{
        display: none;
    }
</style>
<form method="post" action="/short-term/submit">
    <ul>
        <li><input type="hidden" name="date" value="{{order.date}}"> Date: {{order.date}}</li>
        <li><input type="hidden" name="province" value="{{order.province}}">{{order.province}}</li>
        <li><input type="hidden" name="district" value="{{order.district}}">{{order.district}}</li>
        <li><input type="hidden" name="service" value="{{order.service}}">Service: {{order.service}}</li>
        <li>
            <input type="hidden" name="start-time" value="{{order.st-time}}">
            <input type="hidden" name="end-time" value="{{order.e-time}}">
            Time:{{order.st-time}} to {{order.e-time}}
        </li>
    </ul>
    <label> 
        Want to choose helper
        <input type="checkbox" id="change-option-btn" name="choosed" value="">
    </label>
    
    <div id="num-helper-input">
        <label > Enter number of helper:</label>
        <input type="number" name="number of helper"  min="0" max="{{helpers.length}}">
    </div>
    

    <div class="helper-list hide" >
        <label class="count" style="padding: 10px;">Selected: 0</label>
        {{#each helpers}}
            <div class="basic-helper"  style="text-align:center;border:5px; border-style:solid;  border-color:green";>
                <img src="{{this.avatar}}" alt="{{this._id}}">
                <h3 >{{this.fullName}}</h3>
                <p>{{this.yearOfExperience}} years of exprerience</p>
            </div>
        {{/each}}
    </div>
    <button disabled>Submit</button>
</form>

<script>
    let len={{{json helpers}}}.length;
    let helperlist=document.querySelector('.helper-list')
    let helperElements=document.querySelectorAll('div.basic-helper')
    let cnt=0;
    let countEle=document.querySelector('.count')
    let optionbtn = document.querySelector('#change-option-btn')
    let submitBtn= document.querySelector('form button')
    let numHelperInput= document.querySelector('#num-helper-input')
    var selectedHelper=[];
    numHelperInput.onchange=function(){
        let input=numHelperInput.querySelector('input')
        if(input.value==0){
            submitBtn.disabled=true;
        }
        else{
            submitBtn.disabled=false;
        }
    }
    optionbtn.onchange=function(){
        if(optionbtn.checked==true)
        {
            numHelperInput.classList.add('hide');
            helperlist.classList.remove('hide');
            if(cnt!=0){
                submitBtn.disabled=false;
            }
            else submitBtn.disabled=true;
        }
        else{
            numHelperInput.classList.remove('hide');
            helperlist.classList.add('hide');
            let input=numHelperInput.querySelector('input')
            if(input.value!=0){
                submitBtn.disabled=false;
            }
            else{
                submitBtn.disabled=true;
            }
        }
    }

    helperElements.forEach(function(div){
        div.onclick=function(){
            if(div.classList.contains('selected')){
                cnt--;
                div.classList.remove('selected');
                let id= div.querySelector('img').alt;
                let index=selectedHelper.indexOf(id)
                selectedHelper=[...selectedHelper.slice(0,index),...selectedHelper.slice(index+1)]
            }
            else {
                div.classList.add('selected')
                let id= div.querySelector('img').alt;
                selectedHelper.push(id);
                cnt++;
            }
            countEle.innerHTML= "Selected: "+cnt;
            if(cnt==0){
                submitBtn.disabled=true;
            }
            else {
                submitBtn.disabled=false;
            }

        }
    })

    submitBtn.onclick=function(){
        optionbtn.value=selectedHelper;
    }
</script>